@tailwind base;
@tailwind components;
@tailwind utilities;

h4 {
  @apply text-2xl font-bold !important;
}

h3 {
  @apply text-3xl font-bold !important;
}

h2 {
  @apply text-4xl font-bold !important;
}

h1 {
  @apply text-5xl font-bold !important;
}
