@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .navbar-btn {
    @apply cursor-pointer mx-2 underline text-2xl;
  }

  .navbar-col {
    @apply w-full p-4 rounded-md hover:bg-base-200 bg-base-100 border-base-content border-solid border-2;
  }
}
