---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto mb-2 p-5">
    <p class="text-3xl">Communication Establishment</p>
    <p>Here's where I am. I'll respond as soon as possible!</p>
  </div>
  <div class="container mx-auto mt-2">
    <div class="flex flex-col gap-2">
      <div
        class="w-full bg-base-200 rounded-md p-4 border-base-content hover:border-solid hover:border-2"
      >
        <p>llydiacross@gmail.com</p>
      </div>
      <div
        class="w-full bg-base-200 rounded-md p-4 border-base-content hover:border-solid hover:border-2"
      >
        <p><a href="https://instagram.com/llydiacross" class="underline">Instagram</a></p>
      </div>
    </div>
  </div>
</Layout>
