---
import CollectionList from "../components/CollectionList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout smallNavbar={true}>
  <div class="container mx-auto mb-4 p-5 text-center">
    <p class="text-6xl">Welcome!</p>
    <p>I am <b>llydia</b>. This is my site.</p>
  </div>
  <div class="container mx-auto mt-2 mb-2">
    <div class="grid lg:grid-flow-col md:grid-flow-row auto-cols-auto gap-2">
      <img
        src="/liz_1.jpg"
        class="hidden lg:block border-2 border-base-content hover:invert p-2"
      />
      <img
        src="/liz_2.jpg"
        class="hidden lg:block border-2 border-base-content hover:invert p-2"
      />
      <img
        src="/liz_3.jpg"
        class="border-2 border-base-content hover:invert p-2 w-full"
      />
    </div>
  </div>
  <div class="container mx-auto mt-2 mb-4 p-5 text-center">
    <p class="text-3xl">I do a lot of stuff!</p>
    <p>Here is some of it. Click on a post, or an album to discover more...</p>
  </div>
  <div class="container mx-auto text-neutral-content mt-2">
    <div class="flex
    flex-col
    md:flex-row
    gap-2">
      <div
        class="w-full bg-base-200 text-base-content hover:bg-base-100 rounded-md p-4 border-base-content hover:border-solid hover:border-2"
      >
        <CollectionList
          collectionType="posts"
          latest={true}
          showMoreLink={true}
        />
      </div>
      <div
        class="w-full bg-base-200 text-base-content hover:bg-base-100 rounded-md p-4 hover:border-solid border-base-content hover:border-2"
      >
        <CollectionList
          collectionType="albums"
          latest={true}
          showMoreLink={true}
        />
      </div>
    </div>
  </div>
</Layout>
