---
import CollectionList from "../components/CollectionList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto mt-2">
    <div
      class="w-full bg-base-200 rounded-md p-4 border-base-content hover:border-solid hover:border-2"
    >
      <CollectionList collectionType="posts" all={true} latest={true} />
    </div>
  </div>
</Layout>
