---
import { getCollection } from "astro:content";

interface Props {
  latest?: boolean;
  maxCount?: number;
  all?: boolean;
  showMoreLink?: boolean;
  collectionType: string;
}

const { latest, maxCount, all, showMoreLink, collectionType } = Astro.props;

let items = await getCollection(collectionType as any);
if (latest) 
  items.sort((a: any, b: any) => (new Date(a.data?.pubData).getSeconds() - new Date(b.data?.pubData).getSeconds()))
else
  items.sort((a: any, b: any) => (new Date(b.data?.pubData).getSeconds() - new Date(a.data?.pubData).getSeconds()))
if (!all) items = items.slice(0, maxCount || 2);
---

<b class="text-2xl"
  >{collectionType.substring(0, 1).toUpperCase() + collectionType.substring(1)}
</b>
<ul class="mt-3 text-2xl border-t-2 border-base-content pt-3 mb-3">
  {
    items.map((post: any) => (
      <li class="inline-flex w-full p-1">
        <p class="truncate max-w-[246px] lg:max-w-[85%]">
          <a
            href={`/${collectionType}/${post?.slug}`}
            class="hover:underline truncate"
          >
            {post.data?.title}{" "}
          </a>
        </p>
        <span class="ms-auto mt-auto text-right ps-4 underline decoration-dashed text-sm">
          {new Date(post.data?.pubDate).toDateString()}
        </span>
      </li>
    ))
  }
</ul>

{
  showMoreLink ? (
    <a href={"/" + collectionType} class="text-sm hover:underline mt-5">
      More {collectionType}...
    </a>
  ) : null
}
