---
import "../styles/navbar.css";
import CollectionList from "./CollectionList.astro";

const {smallNavbar} = Astro.props;
---

<div class="container mx-auto">
  <div
    class={ !smallNavbar ? "align-center flex flex-col justify-center h-48 max-h-48 space-between bg-base-100" 
    : "align-center flex flex-col justify-center h-32 max-h-32 space-between bg-base-100" }
  >
    <div class="flex">
      <nav class="flex-row mx-2 flex-start m-auto">
        <a href="/"><img src="/circle_logo.png" width={smallNavbar ? "112" : "128"} class="p-4" /></a>
      </nav>
      <nav class="flex-row mx-2 flex-start m-auto">
        <a class="navbar-btn" href="/posts">blog</a>
        <a class="navbar-btn" href="/projects">projects</a>
        <a class="navbar-btn" href="/albums">music</a>
        <a class="navbar-btn" href="/contact">contact</a>
        <a class="navbar-btn nav-toggle">more</a>
      </nav>
    </div>
  </div>
  <div class="flex flex-col">
    <div id="navDropdown" class="hidden bg-base-100 p-2">
      <nav class="grid lg:grid-flow-col md:grid-flow-row auto-cols-auto gap-2">
        <div class="navbar-col">
          <CollectionList
            collectionType="posts"
            latest={true}
            showMoreLink={true}
          />
        </div>
        <div class="navbar-col">
          <CollectionList
            collectionType="projects"
            latest={true}
            showMoreLink={true}
          />
        </div>
        <div class="navbar-col">
          <CollectionList
            collectionType="albums"
            latest={true}
            showMoreLink={true}
          />
        </div>
        <div
          class="p-4 rounded-md bg-base-100 hover:bg-base-200 md:display border-2 border-base-content lg:hidden nav-toggle cursor-pointer"
        >
          <b class="text-sm underline">Hide Menu</b>
        </div>
      </nav>
    </div>
  </div>
  <script>
    let navToggle = document.getElementsByClassName("nav-toggle");
    let navDropdown = document.getElementById("navDropdown");

    for (let i = 0; i < navToggle.length; i++) {
      navToggle[i]?.addEventListener("click", () => {

        let togs =  document.getElementsByClassName("nav-toggle");
        for(let x = 0; x < togs.length; x++){
          if (togs[x].innerHTML === "more") togs[i].innerHTML = "less";
          else if (togs[x].innerHTML === "less")
            togs[x].innerHTML = "more";
        }
    
        if (navDropdown?.classList.contains("hidden"))
          navDropdown?.classList.remove("hidden");
        else navDropdown?.classList?.add("hidden");
      });
    }
  </script>
</div>
