---
import { getCollection } from "astro:content";
import MarkdownProjectLayout from "../../layouts/MarkdownProjectLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("projects");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MarkdownProjectLayout frontmatter={entry.data} backSlug="projects">
  <Content />
</MarkdownProjectLayout>
