---
import { getCollection } from "astro:content";
import MarkdownAlbumLayout from "../../layouts/MarkdownAlbumLayout.astro";

export async function getStaticPaths() {
  const albums = await getCollection("albums");
  return albums.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MarkdownAlbumLayout frontmatter={entry.data} backSlug="albums">
  <Content />
</MarkdownAlbumLayout>
