---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

const { style, smallNavbar } = Astro.props
---

<html lang="en" data-theme="luxury">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ER40</title>
  </head>
  <body>
    <Navbar smallNavbar={smallNavbar} />
    <div style={style || {}} class="p-2">
      <slot />
      <footer class="max-h-48 h-32">
        <p class="mt-auto text-center pt-5 text-sm">
          <span style={{
            background: "rgba(0,0,0,0.5)",
            padding: "4px"
          }}>llydia cross 2024 | <b>live freely, stay groovy</b></span>
        </p>
      </footer>
    </div>
  </body>
</html>
