---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: any;
  backSlug?: string;
}

const { frontmatter, backSlug } = Astro.props;
---

<Layout>
  <div class="container mx-auto">
    <!-- ... -->
    <p class="text-4xl truncate py-2 text-center">{frontmatter.title}</p>
    <p class="text-sm mb-4 pb-2 text-center">
      {frontmatter.description}
    </p>
    <p class="text-sm mb-4 pb-2 text-center underline decoration-dashed">
      Written {new Date(frontmatter.pubDate).toDateString()}
    </p>
    <div
      class="mx-auto w-full lg:w-1/2"
    >
      <div class="prose text-white mx-auto border-base-content bg-base-200 rounded-md p-2">
        <slot />
      </div>
    </div>

    <p class="underline mt-4 text-3xl text-center pt-2">
      <a href={`/${backSlug}`}>Back</a>
    </p>
  </div>
</Layout>
