---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: any;
  backSlug?: string;
}

const { frontmatter, backSlug } = Astro.props;
console.log(frontmatter)
---

<Layout style={{background: `url('${frontmatter.backgroundImage || ""}') fixed center`}} smallNavbar={true}>
  <div class="container w-full mx-auto p-2">
    <!-- ... -->
    <div class="grid md:grid-cols-2 shadow-lg grid-cols-1">
      <div class="text-4xl border-base-content bg-base-200 p-5">
        <p class="py-2">{frontmatter.title}</p>
        <p class="text-sm mb-4 pb-2">
          {frontmatter.description}
        </p>
        <div
        class="mx-auto w-full p-4 rounded-md border-base-content bg-base-200 border-y-2"
        >
          <div class="prose text-white mx-auto">
            <slot />
          </div>
        </div>
  
        <p class="text-sm mb-4 pb-2 text-center underline decoration-dashed mt-4">
          Released {new Date(frontmatter.pubDate).toDateString()}
        </p>
      </div>
      <div class="border-base-content bg-base-200">
        <img class="aspect-square hover:invert" src={"/covers/" + frontmatter.title + ".png"}/>
      </div>
    </div>

    <p class="underline text-2xl text-center pt-2 bg-base-300 p-3">
      <a href={`/${backSlug}`}>Back</a>
    </p>
  </div>
</Layout>
