---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: any;
  backSlug?: string;
}

const { frontmatter, backSlug } = Astro.props;
---

<Layout>
  <div class="container mx-auto p-4">
    <!-- ... -->
    <p class="text-4xl truncate py-2">{frontmatter.title}</p>
    <p class="text-sm mb-4 pb-2">
      {frontmatter.description}
    </p>
    <div
      class="mx-auto w-full p-4 rounded-md border-base-content bg-base-200"
    >
      <div class="prose text-white">
        <slot />
      </div>
    </div>
    <p class="text-sm mt-4 pb-2 underline decoration-dashed">
      Updated {new Date(frontmatter.pubDate).toDateString()}
    </p>
    <p class="underline mt-4 text-3xl text-center pt-2">
      <a href={`/${backSlug}`}>Back</a>
    </p>
  </div>
</Layout>
